In [1]:
%matplotlib inline

In [2]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
# Load in csv
pyber_ride_df = pd.read_csv("Resources/PyBer_ride_data.csv")
pyber_ride_df

        PyBer_ride_data
Month  Avg. Fare ($USD)
Jan               10.02
Feb               23.24
Mar                39.2
April             35.42
May               32.34
June              27.04
July              43.82
Aug               10.56
Sept              11.85
Oct                27.9
Nov               20.71
Dec               20.09

In [8]:
pyber_ride_df.plot(x="Month", y="Avg. Fare ($USD)")
plt.show()
return self._engine.get_loc(casted_key)
except KeyError as err:

SyntaxError: invalid syntax (3941008357.py, line 4)

In [ ]:
# Set x-axis and tick locations.
x_axis = np.arange(len(pyber_ride_df))
tick_locations = [value for value in x_axis]
# Plot the data.
pyber_ride_df.plot(x="Month", y="Avg. Fare ($USD)")
plt.xticks(tick_locations, pyber_ride_df["Month"])
plt.show()